*.log
*.pot
*.pyc
local_settings.py

# Editor backup files
*~
*#

# Django's SQL Lite Database File
db.sqlite3

# Django generated migrations
0*.py

.DS_Store

# VS temp data directory?
cpp/.vs
cpp/leetcode/Debug
cpp/leetcode/x64/Debug
cpp/Debug
cpp/x64/Debug